//** Custom **//
body { 
	background-color: $def-bgpage; 	
	font-family: $roboto; 
	margin: 0; 
	padding: 0;

	img { /*max-width: 400px;*/ }
	p { color: $black; margin-bottom: 6px;}
	a { 
		color: $black; 
		font-family: $cinzel;
		&:hover{ color: $cyan; } 
	}
	h1, h2, h3, h4, h5, h6 { font-family: $cinzel; margin: 4px 0; text-transform: uppercase; }	
} // body

header, footer {	
	background: #eeeeee; 	 	
 	margin: 0 auto;
 	width: 100%;
} // header footer