//** Default Color **//
$def-bgpage				: 	#080808;
$white					:   #fff;
$black					:	#000;		

//** Default Font **//
$roboto					: 'Roboto', sans-serif;
$cinzel					: 'Cinzel', serif;

//** Add Variables Here**//
$cyan					: #05ccc9;
$darkcyan				: #046e6d;




