.banner-container {
	.banner-wrap {
		height: 100%;
		.carousel-content {			
			width: 100%;
			background: #fff;
		}

		.slick-dots { 
			/*background: #fff;*/ 
			li button {
				&:before {
					font-size: 20px;					
					color: #00ffff;
					opacity: .85;
					top: 60px;
				}
			}
			li.slick-active button:before {
			    opacity: .95;
			    color: #007373;
			}

		}
	}
	
} // banner-container